NODE_ENV=staging
PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_this_staging_db_password
POSTGRES_DB=gemadb_staging
DATABASE_URL="postgresql://postgres:change_this_staging_db_password@postgres:5432/gemadb_staging"
JWT_SECRET=change_this_staging_jwt_secret_min_32_chars
JWT_EXPIRES_IN=8h
JWT_ISSUER=ptgema-staging-api
JWT_AUDIENCE=ptgema-staging-client
CORS_ORIGIN=https://gemateknik.online:8443
ALLOW_LOCALHOST_CORS_IN_PROD=false
FILE_PUBLIC_BASE_URL=https://gemateknik.online:8443/api
ACCESS_TOKEN_COOKIE_NAME=ptgema_staging_access_token
CSRF_COOKIE_NAME=ptgema_staging_csrf_token
COOKIE_SECURE=true
COOKIE_PATH=/
